
/*estilo para a página principal*/

body {
    background-image: linear-gradient(90deg, rgb(126, 29, 29), #440606, rgb(53, 10, 10));
}


h1 {
    font-family: cursive;
    text-align: center;
    color: #fdfdfd;
    font-size: 80px;
    text-shadow: 7px 7px 2px rgba(196, 196, 196, 0.5);
}


.imagem {
    justify-items: left;
}



/*imagens do menu principal*/
img{width: 600px;
    height: 600px;
}

.container{display: grid; 
grid-template-columns: 1fr 1fr;
justify-items: center;}
input{width: 328px;}


